div#container {
    border: 1px solid black;
    min-height: 600px;
    /*width: 780px;*/
    margin: 0 auto 0 auto;
    font-family: Arial, Helvetica, sans-serif;

    /* > direct descendent  */
    /** every item */

    > * {


        margin: 5px;

        > img {
            width: 100%;
        }
    }
}

section.content {
    background: url('files/uofu_medallion_rt.gif') bottom right no-repeat;

    div.nav {
        text-align: right;
        padding-right: 3px;
        font-size: 12px;


        a {

            color: black;
            text-decoration: none;
            text-transform: uppercase;
            margin: 0 5px;


            &:hover {
                text-decoration: underline;
            }
        }

        span:after {
            content: "|";
            margin: 0 5px

        }

        /*this targets a nav elements whose class is nav and whose class is bottom-nav*/
        &.bottom-nav {
            a {
                text-transform: lowercase;
                font-size: 10px
            }
        }

    }
}

div.brown-box {
    background-color: #bec4a1;
    border-radius: 15px;
    margin: 15px 10px 70px;
    padding: 30px;
    min-height: 500px;
    position: relative;
    font-size: 50px;


    nav.left-side {
        float: left;
        width: 30%;

        a {
            border-bottom: 1px solid black;
            display: block;
            color: black;
            text-transform: uppercase;
            text-decoration: none;
            margin: 0 8px 0;
            padding: 11px 0 15px 20px;
            font-size: 15px;
            font-weight: normal;

            &:hover {
                background-color: saddlebrown;
            }
        }
    }

    article {
        width: 60%;
        float: right;
        background-color: white;
        padding: 10px;

        > img {
            width: 100%;
        }

        h2 {
            color: darkolivegreen;
            border-bottom: 2px dotted red;

            font-weight: normal;
            font-size: 16px;
            text-transform: uppercase;
        }

        p {
            font-size: 12px;



            span {
                font-weight: bold;
                font-size: 110%;
            }

            &.learn-more {
                text-align: right;
                text-transform: uppercase;
            }

            a {
                color: red;
                text-decoration: none;
                text-transform: uppercase;
            }

            &:hover {
                text-decoration: underline;
            }

        }
    }

    div.clear-float {
        clear: both;
    }

    div.login{
        position:absolute;
        bottom:0;
        left: 0;
        right:20px;
        margin:0 0 70px 30px;





        img{
            display:block;
            margin: 10px 0;





        }
    }
}


nav.login{
    display:flex;
    flex-direction: column-reverse;
    margin-top: 600px;





}








footer {
    background-color: darkolivegreen;
    color: white;
    font-size: 10px;
    text-align: center;
    Padding: 8px;
    margin: 50px;






}